.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
  background-color: var(--primary);
  color: white;
}

.h2 {
  font-size: clamp(22px, 2.5vw, 34px);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  background: white;
  text-decoration: none;
  color: black;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}